
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim</p>
<p><del>#2 Tüm Başlıklarda paging</del> </p>
<p><del>#3 Mesjlarda session </del></p>
<p><del>#4 Oturum yönetiminin mimariye taşınması</del> </p>


